// Базовы переменные
$font-family: "Nunito";
$content-width: 1170px;
$container-offset: 15px;
$container-width: calc($container-offset * 2 + $content-width);

// Цвета
$white-color: #fff;
$black-color: #000;
