// Базовые подключения
@import "./vars";
@import "./mixins";
@import "./fonts";
@import "./global";

// Подключение компонентов страницы
@import "./components/header";

// Тестовые стили
.main {
	display: flex;
	align-items: center;
	justify-content: center;
}
