@import "./vars";
@import "./mixins";
@import "./fonts";
@import "./global";

@import "./components/header";

// тестовые стили, удалите их
.main {
	display: flex;
	align-items: center;
	justify-content: center;
}
